name: Build and Push Docker Container

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Generate a unique tag
        id: generate_tag
        run: echo ::set-output name=TAG::$(date +'%Y%m%d%H%M')	  
      
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
          pipenv install --dev

      - name: Build Docker Image
        run: docker build -t containerdigixprod.azurecr.io/aprecie:${{ steps.generate_tag.outputs.TAG }} .

      - name: Log in to Azure Container Registry
        run: az login --service-principal -u ${{ secrets.AZURE_CLIENT_ID }} -p ${{ secrets.AZURE_CLIENT_SECRET }} --tenant ${{ secrets.AZURE_TENANT_ID }}


      - name: Push Docker Image to Azure Container Registry
        run: |
          docker login containerdigixprod.azurecr.io -u ${{ secrets.AZURE_REGISTRY_USERNAME }} -p ${{ secrets.AZURE_REGISTRY_PASSWORD }}
          docker push containerdigixprod.azurecr.io/aprecie:${{ steps.generate_tag.outputs.TAG }}
